modules = ["nodejs-20", "java", "java-graalvm22.3", "python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["android-tools", "jq", "unzip", "zip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd HTML-CSS-JS-Static && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
integrations = ["github:1.0.0"]
